/.git
/.gradle
/.idea
/.kotlin
/build
/demo
/gradle
/images
/library
/lint
/plugin
/build.gradle.kts
/gradle.properties
/gradlew
/gradlew.bat
/LICENSE.txt
/local.properties
/README.md
/settings.gradle.kts