<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- RemoteAdapter Widgets -->

        <receiver
            android:name=".ListViewWidgetReceiver"
            android:exported="true"
            android:label="@string/list_view">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/list_view_widget_info" />
        </receiver>

        <receiver
            android:name=".GridViewWidgetReceiver"
            android:exported="true"
            android:label="@string/grid_view">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/grid_view_widget_info" />
        </receiver>

        <receiver
            android:name=".StackViewWidgetReceiver"
            android:exported="true"
            android:label="@string/stack_view">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stack_view_widget_info" />
        </receiver>

        <receiver
            android:name=".AdapterViewFlipperWidgetReceiver"
            android:enabled="@bool/isAtLeastApi31"
            android:exported="true"
            android:label="@string/adapter_view_flipper">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/adapter_view_flipper_widget_info" />
        </receiver>

        <!-- Currently unused; preserved for future testing, etc. -->
        <service
            android:name=".internal.RemoteAdapterWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />


        <!-- ScrollableLazy Widgets -->

        <receiver
            android:name=".ScrollableLazyColumnWidgetReceiver"
            android:exported="true"
            android:label="@string/scrollable_lazy_column">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/list_view_widget_info" />
        </receiver>

        <receiver
            android:name=".ScrollableLazyVerticalGridWidgetReceiver"
            android:exported="true"
            android:label="@string/scrollable_lazy_vertical_grid">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/grid_view_widget_info" />
        </receiver>

    </application>

</manifest>